/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}


/****************************** 
LOOKBOOK
 *******************************/

/* .LookbookSection {
     float: left;
} */


/* 
.LookbookAllRowsImg {
     float: left;
} */

.trimSquare{
     object-fit: cover;
}

.LookbookAllRows {
     width: 100%;
     height: auto;
     display: flex;
     padding: 0 26%;
     /* border: 1px solid black; */
     justify-content: center;
}

.row1 {
     flex-direction: column;
     padding: 1%;
}

.row2 {
     flex-direction: column;
     padding: 1%;

}

.row3{
     flex-direction: column;
     padding: 1%;

}


.lastImg{
     object-fit: cover;
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
